{% extends "hod_template.html" %} {% block content %}
<style>
  .table td {
    background-color: var(--background-secondary);
    color: var(--primary-color);
  }

  .table button {
    border: none;
  }

  #new-course-btn {
    border: none;
    width: 50px;
    height: 50px;
    margin: 0.6em;
    color: var(--interactive-color);
    font-weight: 650;
    background-color: var(--interactive-color-hover);
  }

  .modal-content {
    background-color: var(--modal-background-secondary);
    color: var(--primary-color);
  }

  .modal-backdrop {
    background-color: var(--background-secondary);
  }
  #create-module-modal form button[type="submit"] {
    background-color: var(--interactive-color);
    color: var(--primary-color);
  }
  #create-module-modal button.close {
    color: var(--error-color);
  }
  #create-module-modal form .form-control {
    border-radius: 0px;
  }
</style>
<script>
  $(document).ready(function () {
    $("#new-course-btn").click(function (event) {
      $("#create-module-modal").css("display", "block");
    });
    $("#create-module-modal-close-btn").click(function () {
      $("#create-module-modal").css("display", "none");
    });
  });
</script>

<!-- Modal HTML -->
<div class="modal" id="create-module-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-module-modal-title">
          Add new module
        </h5>
        <button
          type="button"
          class="close"
          id="create-module-modal-close-btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{%url 'hod_upload'%}" method="POST">
          {%csrf_token%}
          <div class="form-group">
            <label for="module-title">Module Title</label>
            <input type="text" required class="form-control" name="title" />
          </div>
          <div class="form-group">
            <label for="module-learning-hours">Learning Hours</label>
            <input type="number" class="form-control" name="hours" required />
          </div>
          <div class="form-group">
            <label for="module-teachers">Teacher</label>
            <select
              name="teacher"
              id="module-teachers"
              class="form-control"
              required
            >
              {%for teacher in teachers%}
              <option value="{{teacher.id}}">
                {{teacher.user.first_name}}
              </option>
              {%endfor%}
            </select>
          </div>

          <div class="form-group">
            <label for="program">Program</label>
            <select
              name="program"
              id="module-program"
              class="form-control"
              required
            >
              {%for program in programs%}
              <option value="{{program.id}}">{{program.name }}</option>
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <label for="progr">Program</label>
            <select name="year" id="year" class="form-control" required>
              <option value="1">Year 1</option>
              <option value="2">Year 2</option>
              <option value="3">Year 3</option>
            </select>
          </div>
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<h3>Department Modules</h3>
<div class="courses-container">
  <section class="hod-course-header">
    <button
      id="new-course-btn"
      data-toggle="modal"
      data-target="#create-module-modal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </section>

  <section class="courses-container">
    <table class="table table-striped table-bordered" id="documents-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Hours</th>
          <th>created</th>
          <th>program</th>
          <th>year</th>
          <th>Teacher</th>
        </tr>
      </thead>
      <tbody id="courses-body">
        {% if modules %} {% for module in modules %}
        <tr class="clickable-row">
          <td>{{ forloop.counter }}</td>
          <td>
            <span
              class="truncated-text"
              data-full-text="{{ document.file.name }}"
            >
              {{ module.title }}
            </span>
          </td>
          <td>{{ module.learning_hours }}</td>
          <td>{{ module.created_at|date:"Y-m-d H:i" }}</td>
          <td>{{ module.program }}</td>
          <td>{{ module.year }}</td>
          <td>{{ module.teacher.user.first_name }}</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="7" class="text-center">No Modules found</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
